algopy==0.5.7
bokeh==0.12.16
Jinja2==2.10
MarkupSafe==1.0
numdifftools==0.9.20
numpy==1.14.3
packaging==17.1
pandas==0.23.0
patsy==0.5.0
pyflux==0.4.15
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
PyYAML==3.12
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
sklearn==0.0
tornado==5.0.2
