{% extends 'barebones.html' %}
{% block actual_layout %}
    <div id="wrapper">
      <!-- Top Bar Start -->
      <div class="topbar">
        <!-- LOGO -->
        <div class="topbar-left">
          <div class="text-center">
            <a href="#" class="logo"><i class="mdi mdi-radar"></i> <span>Minton</span></a>
          </div>
        </div>

        <!-- Button mobile view to collapse sidebar menu -->
        <nav class="navbar-custom">

          <ul class="list-inline float-right mb-0">

            <li class="list-inline-item notification-list hide-phone">
              <a class="nav-link waves-light waves-effect" href="#" id="btn-fullscreen">
                <i class="mdi mdi-crop-free noti-icon"></i>
              </a>
            </li>
            <li class="list-inline-item notification-list">
              <a class="nav-link waves-light waves-effect" href="#" id="btn-fullscreen">
                <i class="mdi mdi-logout"></i> <span>Logout</span>
              </a>
            </li>
          </ul>

          <ul class="list-inline menu-left mb-0">
            <li class="float-left">
              <button class="button-menu-mobile open-left waves-light waves-effect">
                <i class="mdi mdi-menu"></i>
              </button>
            </li>
          </ul>

        </nav>

      </div>
      <!-- Top Bar End -->
      <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">
          <!--- Divider -->
          <div id="sidebar-menu">
            <ul>
              <li class="has_sub">
                <a href="javascript:void(0);" class="waves-effect waves-primary">
                  <i class="ti-stats-up"></i><span> Monitor Devices </span><span class="menu-arrow"></span>
                </a>
                <ul class="list-unstyled">
                  <li><a href="{{url_for('compare_sites')}}"> Compare multiple sites </a></li>
                  <li><a href={{url_for('energy_consumption')}}"> Energy Consumption per site </a></li>
                  <li><a href="{{url_for('deep_dive_site')}}"> Deep Dive Single site </a></li>
                  <li><a href="{{url_for('predict_readings')}}"> Forecast readings </a></li>
                </ul>
              </li>
              <li>
                <a href="{{url_for('my_account')}}" class="waves-effect waves-primary"><i class="ti-home"></i><span> My Account </span></a>
              </li>
              {% if user.role.id <= 2 %}
              <li class="menu-title">Admin</li>
              <li>
                <a href="{{url_for('manage_devices')}}" class="waves-effect waves-primary"><i class="ti-files"></i><span> Device Management </span></a>
              </li>
              {% if user.role.id == 1 %}
              <li>
                <a href="{{url_for('manage_users')}}" class="waves-effect waves-primary"><i class="ti-menu-alt"></i><span> User Management </span></a>
              </li>
              {% endif %}
              {% endif %}
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

      <!-- Start right Content here -->
      <!-- ============================================================== -->            
      <div class="content-page">
        <!-- Start content -->
        <div class="content">
          <div class="container-fluid">

            <!-- Page-Title -->
            <div class="row">
              <div class="col-sm-12">
                <div class="page-title-box">
                  <h4 class="page-title">Welcome !</h4>
                  <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="#">Minton</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                  </ol>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          <!-- Dynamic portions -->
          {% block pagecontent %}{% endblock %} 
         </div>
          <!-- end container -->
        </div>
        <!-- end content -->

        <footer class="footer">
          2016 - 2018 © Minton <span class="hide-phone">- Coderthemes.com</span>
        </footer>

      </div>
      <!-- ============================================================== -->
      <!-- End Right content here -->
      <!-- ============================================================== -->


      <!-- Right Sidebar -->
      <div class="side-bar right-bar">
        <div class="">
        </div>
      </div>
      <!-- /Right-bar -->

    </div>
    <!-- END wrapper -->
{% endblock %}
