{% extends 'graph_page_base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block graphcontent %}

<div class="row">
  <div class="col-lg-12">
    <div id="accordion" role="tablist" aria-multiselectable="true" class="m-b-20">
      <div class="card">
        <div class="card-header" role="tab" id="hcheading">
          <h5 class="mb-0 mt-0 font-16">
            <a data-toggle="collapse" data-parent="#accordion" href="#hcform" aria-expanded="true" aria-controls="hcform">
            Collapse / Expand Form Options
            </a>
          </h5>
        </div>
        <div id="hcform" class="collapse show" role="tabpanel" aria-labelledby="hcheading">
          <div class="card-body">
            <form class="form-horizontal" method="post" action="{{url_for('compare_sites')}}">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#taggroupings" aria-expanded="false" aria-controls="taggroupings">Compare by Tags</button>
              <div class="collapse" id="taggroupings" class="card card-body">
                <!-- TODO -->
                <span> {{ render_field(form.tag1, "form-control",  colsize = 6) }}</span><span> {{ render_field(form.tag2, "form-control",  colsize = 6) }}</span>
              </div>
              {{ render_field(form.site_ids, "form-control", label_class = "hiddenlabel", customprops = {"hidden" : "true"})}}
              {{ render_field(form.metric_formula, "form-control")}}
              {{ render_field(form.param_file, "form-control")}}
              {{ render_field(form.chart_type, "form-control")}}
              {{ render_field(form.date_range, "form-control", customprops = {"id" : "firstreportrange" }) }}
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#sdr" aria-expanded="false" aria-controls="sdr">Compare against timerange</button>
              <div class="collapse" id="sdr" class="card card-body">
                <div>{{ render_field(form.date_range2, "form-control", customprops = {"id" : "secondreportrange"}) }}</div>
              </div>
              {{ render_field(form.aggregate_unit, "form-control")}}
          </div>
          <button type="submit" class = "btn btn-success"  onclick = "populate_site_ids(); $('#loading').show(); $('#loadedcontent').hide(); return true;">Get Chart</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div align = "center" class="row">
    <div id="outputchart" style="min-width: 95%; height: 400px; margin: 0 auto"></div>
</div>
{% endblock %}

{% block graphscripts %}
<script type="text/javascript">
  function populate_site_ids(){
    var arr = $("#checkTree").jstree("get_selected", true).filter(v => v.children.length == 0).map(v => v.id);
    $("form :input[name=site_ids]").val(arr);
  }


  var chart = null;
  if(chart != null){ chart.destroy(); }
  chart = new Highcharts.Chart({{ chart | tojson | safe }});


</script>
{% endblock %}
