{% extends 'barebones.html' %}
{% from "_formhelpers.html" import render_field %}

{% block pagecontent %}
<div class="row">
  <div class="button-list">
    <button type="button" class="btn btn-success waves-effect waves-light" data-toggle="modal" data-target="#customisechartmodal">Customise Chart</button>
    <a class="btn btn-info waves-effect waves-light" href="{{url_for('deep_dive_site')}}" target="_blank">Deep Dive One Site ID</a>
    <a class="btn btn-info waves-effect waves-light" href="{{url_for('predict_readings')}}" target="_blank">Predict Readings</a>
  </div>
</div>
<div align = "center" class="row">
    <div id="outputchart" style="min-width: 95%; height: 400px; margin: 0 auto"></div>
</div>

<div id="customisechartmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Customize the chart</h4>
      </div>
      <form class="form" method="post" action="{{url_for('compare_sites')}}">

      <div class="modal-body">
          <div class="row">{{ render_field(form.site_ids, "form-control multi-select", customprops = {"data-plugin" : "multiselect", "data-selectable-optgroup" : "true"}, colsize= 12)}}</div>
          <div class="row"> {{ render_field(form.metric, "form-control", colsize = 6)}} {{ render_field(form.chart_type, "form-control", colsize = 6)}}</div>
          <div>{{ render_field(form.date_range, "form-control", customprops = {"id" : "firstreportrange" }, colsize = 12) }}</div>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#sdr" aria-expanded="false" aria-controls="sdr">Compare against timerange</button>
          <div class="collapse" id="sdr" class="card card-body">
            <div>{{ render_field(form.date_range2, "form-control", customprops = {"id" : "secondreportrange"}, colsize = 12) }}</div>
          </div>

          <div>{{ render_field(form.aggregate_unit, "form-control", colsize = 12)}}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Discard</button>
        <button type="submit" class = "btn btn-success">Get Chart</button>
      </div>

      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block customscripts %}
<script type="text/javascript">
  var chart = null;
  if(chart != null){ chart.destroy(); }
  chart = new Highcharts.Chart({{ chart | tojson | safe }});
</script>
{% endblock %}
