{% from "_formhelpers.html" import render_field %}
{% extends 'barebones.html' %}

{% block pagecontent %}
<div class="row">
  <div class="button-list">
    <a class="btn btn-info waves-effect waves-light" href="{{url_for('compare_sites')}}" target="_blank">Compare Multiple Sites</a>
    <a class="btn btn-info waves-effect waves-light" href="{{url_for('predict_readings')}}" target="_blank">Predict Readings</a>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div id="accordion" role="tablist" aria-multiselectable="true" class="m-b-20">
      <div class="card">
        <div class="card-header" role="tab" id="hcheading">
          <h5 class="mb-0 mt-0 font-16">
            <a data-toggle="collapse" data-parent="#accordion" href="#hcform" aria-expanded="true" aria-controls="hcform">
            Collapse / Expand Form Options
            </a>
          </h5>
        </div>
        <div id="hcform" class="collapse show" role="tabpanel" aria-labelledby="hcheading">
          <div class="card-body">
            <form class="form-inline" method="post" action="{{url_for('deep_dive_site')}}">
              {{ render_field(form.site_id, "form-control bsel")}}
              <button type="submit" class = "btn btn-success" onclick="loading(); return true;" >Get Chart</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% for k in ["Ideal Energy Consumption Curves"] %}
{% set pid =  loop.cycle(1, 2, 3, 4, 5) %}
<div class="row">
  <div class="col-lg-12">
    <div class="portlet">
      <div class="portlet-heading bg-primary">
        <h3 class="portlet-title">
          {{k}}
        </h3>
        <div class="portlet-widgets">
          <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
          <span class="divider"></span>
          <a data-toggle="collapse" data-parent="#accordion1" href="#bg-{{pid}}"><i class="ion-minus-round"></i></a>
          <span class="divider"></span>
          <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div id="bg-{{pid}}" class="panel-collapse collapse show">
        <div class="portlet-body">
          {% for script, div in chart_op[k] %}
          {{ script | safe }}
          {{ div | safe }}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
