{% from "_formhelpers.html" import render_field %}
{% extends 'app_layout.html' %}
{% block pagecontent %}
<div class="modal fade" id="addemsusermodal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form id="add_emsuser_form">
          <div class="rendered-form">
            <div class="fb-text form-group"><label for="email" class="fb-text-label">Email<span class="fb-required">*</span></label><input type="email" class="form-control" name="email" required="required"></div>
            <div class="fb-text form-group"><label for="password" class="fb-text-label">Password<span class="fb-required">*</span></label><input type="password" class="form-control" name="password" required="required"></div>
            <div class="fb-text form-group"><label for="confirm_password" class="fb-text-label">Confirm Password<span class="fb-required">*</span></label><input type="password" class="form-control" name="confirm_password" required="required"></div>
            <div class="fb-text form-group"><label for="name" class="fb-text-label">Email<span class="fb-required">*</span></label><input type="name" class="form-control" name="name" required="required"></div>
            <div class="fb-text form-group"><label for="surname" class="fb-text-label">Email<span class="fb-required">*</span></label><input type="surname" class="form-control" name="surname" required="required"></div>
            <div class="fb-text form-group"><label for="role" class="fb-text-label">Role<span class="fb-required">*</span></label><input type="text" class="form-control roledropdown" name="role" required="required"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="addemsuserbutton" type="button" class="btn btn-primary">Add User</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteemsusermodal" tabindex="-1" role="dialog" aria-labelledby="deleteemsusermodalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteemsusermodalLabel">Delete User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="deleteemsuserform">
          Are you sure you want to delete this emsuser?
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button id='deleteemsuserbutton' type="button" buttonemsuser_id="" class="btn btn-primary">Delete User</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editemsusermodal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form id="edit_emsuser_form">
          <div class="rendered-form">
            <div class="fb-text form-group"><label for="email" class="fb-text-label">Email<span class="fb-required">*</span></label><input type="email" class="form-control" name="email" required="required" readonly></div>
            <div class="fb-text form-group"><label for="password" class="fb-text-label">Password<span class="fb-required">*</span></label><input type="password" class="form-control" name="password" required="required"></div>
            <div class="fb-text form-group"><label for="confirm_password" class="fb-text-label">Confirm Password<span class="fb-required">*</span></label><input type="password" class="form-control" name="confirm_password" required="required"></div>
            <div class="fb-text form-group"><label for="name" class="fb-text-label">Email<span class="fb-required">*</span></label><input type="name" class="form-control" name="name" required="required"></div>
            <div class="fb-text form-group"><label for="surname" class="fb-text-label">Email<span class="fb-required">*</span></label><input type="surname" class="form-control" name="surname" required="required"></div>
            <div class="fb-text form-group"><label for="role" class="fb-text-label">Role<span class="fb-required">*</span></label><input type="text" class="form-control" name="role" required="required"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="editemsuserbutton" type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class = "row">
  <button type="button" class="btn btn-info" data-action="add" data-toggle="modal" data-target="#addemsusermodal">Add User</button>
</div>

<div class="row">
  <div class="col-12">
    <div class="card-box table-responsive">
      <h4 class="m-t-0 header-title">Users List</h4>
      <table id="emsusersdt" class="table table-bordered">
        <thead>
          <tr>
            <th>id</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Role</th>
            <th>Action</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block customscripts %}
<script>
$(document).ready(function() {
    var emsusers_table =  $('#emsusersdt').DataTable( {
        "ajax": {url : '/api/emsuser', dataSrc: "objects"},
        "columns" : [
          {data: "id", visible: false, searchable: true}, {data: "email"}, {data: "name"}, {data: "surname"}, {data: "role.name"},
         {
          title: "Actions",
          sortable: false,
          "render": function(data, type, full, meta) {
            var buttonID = full.id;
            return '<button type="button" class="btn btn-xs btn-warning" data-action="edit" data-toggle="modal" data-target="#editemsusermodal" data-emsuserid="' + buttonID + '">Edit</button>  <button type="button" class="btn btn-xs btn-danger" data-action="delete" data-toggle="modal" data-target="#deleteemsusermodal" data-emsuserid="' + buttonID + '">Delete</button>';
          }
        }]
    });
});


  $('#editemsuserbutton').on('click', function(e) {
    e.preventDefault();
    var emsuser_id = $(this).attr('buttonemsuser_id');
    var data = jQFormSerializeArrToJson($("#edit_emsuser_form").serializeArray());
    console.log(data);
    var response = post_or_put_data("/api/emsuser/" + emsuser_id , "PATCH", data);
    response = JSON.parse(response.responseText);
    if (response.hasOwnProperty("id")) {
      var table_idx = $(this).attr('tblrowidx');
      console.log(table_idx, typeof(table_idx));
      emsusers_table = $('#emsusersdt').DataTable();
      emsusers_table.row(table_idx).data(response);
    } else {
      console.log(response.responseJSON);
      toastr['warning']("Internal error! Try again or contact admin!");
    }
    $('#editemsusermodal').modal('hide');
  });

  $('#editemsusermodal').on('show.bs.modal', function(event) {
    var button = $(event.relatedTarget);
    var recipient = button.data('emsuserid');
    var modal = $(this);
    modal.find('#editemsuserbutton').attr('buttonemsuser_id', recipient);

    emsusers_table = $('#emsusersdt').DataTable();
    index = emsusers_table.column(0).data().filter(function(v, i){ return v == Number(recipient);})[0];
    modal.find('#editemsuserbutton').attr('tblrowidx', index);

    var roles = get_or_delete_data("/api/role", "GET");
    roles = JSON.parse(roles.responseText);
    $('.roledropdown').empty();
    $.each(roles, function(i, d) {
      $('.roledropdown').append('<option value="' + d.id + '">' + d.name + '</option>');
    });
    
    var oldData = get_or_delete_data("/api/emsuser/"+recipient, "GET");
    oldData = JSON.parse(oldData.responseText);
    var form = $("#edit_emsuser_form :input");
    roles = JSON.parse(roles.responseText);
    var old_selected = oldData.role.id;
    $('.roledropdown').empty();
    $.each(roles, function(i, d) {
      var selected = i == old_selected?"selected":"";
      $('.roledropdown').append('<option value="' + d.id + '" '+ selected + '>' + d.name + '</option>' );
    });

    form[0].value = oldData.email;
    form[3].value = oldData.name;
    form[4].value = oldData.surname;
  });

  $('#deleteemsuserbutton').on('click', function(e) {
    e.preventDefault();
    var emsuser_id = $(this).attr('buttonemsuser_id');
    var data = jQFormSerializeArrToJson($("#delete_emsuser_form").serializeArray());
    console.log(data);
    var response = get_or_delete_data("/api/emsuser/" + emsuser_id , "DELETE");
      var table_idx = Number($(this).attr('tblrowidx'));
  
      console.log(table_idx, typeof(table_idx));
      emsusers_table = $('#emsusersdt').DataTable();
      emsusers_table.row(table_idx).remove().draw();
    $('#deleteemsusermodal').modal('hide');
  });

  $('#deleteemsusermodal').on('show.bs.modal', function(event) {
    var button = $(event.relatedTarget);
    var recipient = button.data('emsuserid');
    var modal = $(this);
    modal.find('#deleteemsuserbutton').attr('buttonemsuser_id', recipient);
    emsusers_table = $('#emsusersdt').DataTable();
    var a = emsusers_table.data();
    var op = a.map(function(v, i){ if(v.id.toString() == recipient.toString()){return i}}).filter(function(v){ if(v != null){return v; }});
    if(op.length>=0){
      var data = a[op[0]];
      modal.find('#deleteemsuserbutton').attr('tblrowidx', op[0]);
      var ips = $('#delete_emsuser_form [name]');
      for (var i = 0; i < ips.length; i++) {
        ips[i].value = data[ips[i].name];
      }
    }
  });

  $('#addemsuserbutton').on('click', function(e) {
    e.preventDefault();
    var emsuser_id = $(this).attr('buttonemsuser_id');
    var data = $("#add_emsuser_form").serializeArray();  console.log(data);
    data.push({name: "user_id", value: {{user.id}} });
    data.push({name: "is_active", value: true});
    var data = jQFormSerializeArrToJson(data);
    console.log(data);
    var response = post_or_put_data("/api/emsuser" , "POST", data);
    response = JSON.parse(response.responseText);
    if (response.hasOwnProperty("id")) {
      emsusers_table = $('#emsusersdt').DataTable();
      emsusers_table.row.add(response).draw();
    } else {
      console.log(response.responseJSON);
      toastr['warning']("Internal error! Try again or contact admin!");
    }
    $('#addemsusermodal').modal('hide');
  });

</script>
{% endblock %}
