{% from "_formhelpers.html" import render_field %}
{% extends 'app_layout.html' %}
{% block pagecontent %}
<div class="modal fade" id="adddevicemodal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form id="add_device_form">
          <div class="rendered-form">
            <div class="fb-text form-group"><label for="device_id" class="fb-text-label">Site ID<span class="fb-required">*</span></label><input type="text" class="form-control" name="device_id" id="device_id" required="required" ></div>
            <div class="fb-text form-group"><label for="distributer_name" class="fb-text-label">Distributer Name<span class="fb-required">*</span></label><input type="text" class="form-control" name="distributer_name" id="distributer_name" required="required"></div>
            <div class="fb-text form-group"><label for="project" class="fb-text-label">Project<span class="fb-required">*</span></label><input type="text" class="form-control" name="project" id="project" required="required"></div>
            <div class="fb-text form-group"><label for="system_name" class="fb-text-label">System Name<span class="fb-required">*</span></label><input type="text" class="form-control" name="system_name" id="system_name" required="required"></div>
            <div class="fb-text form-group"><label for="country" class="fb-text-label">Country<span class="fb-required">*</span></label><input type="text" class="form-control" name="country" id="country" required="required"></div>
            <div class="fb-text form-group"><label for="tag_site_type" class="fb-text-label">Tags (Site types)<span class="fb-required">*</span></label><input type="text" class="form-control" name="tag_site_type" id="tag_site_type" required="required"></div>
            <div class="fb-text form-group"><label for="tag_size" class="fb-text-label">Tags (Size)<span class="fb-required">*</span></label><input type="text" class="form-control" name="tag_size" id="tag_size" required="required"></div>
            <div class="fb-text form-group"><label for="sqm" class="fb-text-label">Site Sqm<span class="fb-required">*</span></label><input type="text" class="form-control" name="sqm" id="sqm" required="required"></div>
            <div class="fb-text form-group"><label for="latitude" class="fb-text-label">Latitude<span class="fb-required">*</span></label><input type="text" class="form-control" name="latitude" id="latitude" required="required"></div>
            <div class="fb-text form-group"><label for="longitude" class="fb-text-label">Longitude<span class="fb-required">*</span></label><input type="text" class="form-control" name="longitude" id="longitude" required="required"></div>
            <div class="fb-select form-group field-emsusers"><label for="emsusers" class="fb-select-label">Users of device<span class="fb-required">*</span></label><select class="selectpicker" name = "users" multiple='true' data-live-search='true'></select></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="adddevicebutton" type="button" class="btn btn-primary">Add Device</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deletedevicemodal" tabindex="-1" role="dialog" aria-labelledby="deletedevicemodalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deletedevicemodalLabel">Delete Device</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="deletedeviceform">
          Are you sure you want to delete this device?
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button id='deletedevicebutton' type="button" buttondevice_id="" class="btn btn-primary">Delete Device</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editdevicemodal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form id="edit_device_form">
          <div class="rendered-form">
            <div class="fb-text form-group"><label for="distributer_name" class="fb-text-label">Distributer Name<span class="fb-required">*</span></label><input type="text" class="form-control" name="distributer_name" id="distributer_name" required="required"></div>
            <div class="fb-text form-group"><label for="project" class="fb-text-label">Project<span class="fb-required">*</span></label><input type="text" class="form-control" name="project" id="project" required="required"></div>
            <div class="fb-text form-group"><label for="system_name" class="fb-text-label">System Name<span class="fb-required">*</span></label><input type="text" class="form-control" name="system_name" id="system_name" required="required"></div>
            <div class="fb-text form-group"><label for="country" class="fb-text-label">Country<span class="fb-required">*</span></label><input type="text" class="form-control" name="country" id="country" required="required"></div>
            <div class="fb-text form-group"><label for="tag_site_type" class="fb-text-label">Tags (Site types)<span class="fb-required">*</span></label><input type="text" class="form-control" name="tag_site_type" id="tag_site_type" required="required"></div>
            <div class="fb-text form-group"><label for="tag_size" class="fb-text-label">Tags (Size)<span class="fb-required">*</span></label><input type="text" class="form-control" name="tag_size" id="tag_size" required="required"></div>
            <div class="fb-text form-group"><label for="sqm" class="fb-text-label">Site Sqm<span class="fb-required">*</span></label><input type="text" class="form-control" name="sqm" id="sqm" required="required"></div>
            <div class="fb-text form-group"><label for="latitude" class="fb-text-label">Latitude<span class="fb-required">*</span></label><input type="text" class="form-control" name="latitude" id="latitude" required="required"></div>
            <div class="fb-text form-group"><label for="longitude" class="fb-text-label">Longitude<span class="fb-required">*</span></label><input type="text" class="form-control" name="longitude" id="longitude" required="required"></div>
            <div class="fb-select form-group field-emsusers"><label for="emsusers" class="fb-select-label">Users of device<span class="fb-required">*</span></label><select class="selectpicker" name = "users" multiple data-live-search='true'></select></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="editdevicebutton" type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class = "row">
  <button type="button" class="btn btn-info" data-action="add" data-toggle="modal" data-target="#adddevicemodal">Add Device</button>
</div>

<div class="row">
  <div class="col-12">
    <div class="card-box table-responsive">
      <h4 class="m-t-0 header-title">Devices List</h4>
      <table id="devicesdt" class="table table-bordered">
        <thead>
          <tr>
            <th>id</th>
            <th>Site Id</th>
            <th>Distributer Name</th>
            <th>Project</th>
            <th>System Name</th>
            <th>Country</th>
            <th>Tags (Site Types)</th>
            <th>Tags (Sizes)</th>
            <th>Sqm of the Building</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Users of Device</th>
            <th>Actions</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block customscripts %}
<script>

var url_base = "/api/device";
{% if user.role.id == 1 %}
  var device_url = "/api/device";
{% else %}
  var filters = [{"name":"user_id","op":"==","val":{{user.id | safe}}}];
  var params = JSON.stringify({"filters":filters});
  var device_url = "/api/device?q=" + params;
{% endif %}
$(document).ready(function() {
    var devices_table =  $('#devicesdt').DataTable( {
        "ajax": {url : device_url, dataSrc: "objects"},
        "columns" : [
          {data: "id", visible: false, searchable: true}, {data: "device_id"}, {data: "distributer_name"}, {data: "project"}, {data: "system_name"}, {data: "country"}, {data: "tag_site_type"}, {data: "tag_size"}, {data: "sqm"}, {data: "latitude"}, {data: "longitude"},  {data: "users[,].email"},
         {
          title: "Actions",
          sortable: false,
          "render": function(data, type, full, meta) {
            var buttonID = full.id;
            return '<button type="button" class="btn btn-xs btn-warning" data-action="edit" data-toggle="modal" data-target="#editdevicemodal" data-deviceid="' + buttonID + '">Edit</button>  <button type="button" class="btn btn-xs btn-danger" data-action="delete" data-toggle="modal" data-target="#deletedevicemodal" data-deviceid="' + buttonID + '">Delete</button>';
          }
        }]
    });

    var users = get_or_delete_data('/api/emsuser', "GET"); 
    var data = users.objects;
    var options;
    for(var i = 0; i < data['length']; i++) {
        options += "<option value='" + data[i]['id'] + "'>" + data[i]['email'] + "</option>";
    }
    $(".selectpicker").append(options);
    $(".selectpicker").selectpicker('refresh');
    $(".selectpicker").selectpicker('val', "{{user.id}}");
});

  $('#editdevicebutton').on('click', function(e) {
    e.preventDefault();
    var device_id = $(this).attr('buttondevice_id');
    var data = $("#edit_device_form").serializeArray();
    var names = data.filter(v => v.name == "users").map((v, i) => { var op = {}; op.id = Number(v.value); return op; });
    data = data.filter(v => v.name != "users");
    data.push({name : "users", value : names}); console.log(data);
    //data.push({name: "user_id", value: {{user.id}} });
    //data.push({name: "is_active", value: true});

    var data = jQFormSerializeArrToJson(data)
    console.log(data);
    var response = post_or_put_data(url_base + "/" + device_id , "PATCH", data);
    response = JSON.parse(response.responseText);
    if (response.hasOwnProperty("id")) {
      var table_idx = $(this).attr('tblrowidx');
      console.log(table_idx, typeof(table_idx));
      devices_table = $('#devicesdt').DataTable();
      devices_table.row(table_idx).data(response);
    } else {
      console.log(response.responseJSON);
      toastr['warning']("Internal error! Try again or contact admin!");
    }
    $('#editdevicemodal').modal('hide');
  });

  $('#editdevicemodal').on('show.bs.modal', function(event) {
    var button = $(event.relatedTarget);
    var recipient = button.data('deviceid');
    var modal = $(this);
    modal.find('#editdevicebutton').attr('buttondevice_id', recipient);
    devices_table = $('#devicesdt').DataTable();
    var a = devices_table.data();
    var op = a.map(function(v, i){ if(v.id.toString() == recipient.toString()){return i}}).filter(function(v){ if(v != null){return v; }});
    if(op.length>=0){
      var data = a[op[0]];
      console.log(data, ips);
      modal.find('#editdevicebutton').attr('tblrowidx', op[0]);
      var ips = $('#edit_device_form [name]');
      for (var i = 0; i < ips.length; i++) {
        if(ips[i].name == "users"){
          var arr = data['users'].map(v => v.id);
          ips[i].value = arr.join(",");
          $(".selectpicker").selectpicker('val', arr); 
        }
        else{
          ips[i].value = data[ips[i].name];
        }
      }
      
    }
  });

  $('#deletedevicebutton').on('click', function(e) {
    e.preventDefault();
    var device_id = $(this).attr('buttondevice_id');
    var data = jQFormSerializeArrToJson($("#delete_device_form").serializeArray());
    console.log(data);
    var response = get_or_delete_data(url_base +"/" + device_id , "DELETE");
      var table_idx = Number($(this).attr('tblrowidx'));
  
      console.log(table_idx, typeof(table_idx));
      devices_table = $('#devicesdt').DataTable();
      devices_table.row(table_idx).remove().draw();
    $('#deletedevicemodal').modal('hide');
  });

  $('#deletedevicemodal').on('show.bs.modal', function(event) {
    var button = $(event.relatedTarget);
    var recipient = button.data('deviceid');
    var modal = $(this);
    modal.find('#deletedevicebutton').attr('buttondevice_id', recipient);
    devices_table = $('#devicesdt').DataTable();
    var a = devices_table.data();
    var op = a.map(function(v, i){ if(v.id.toString() == recipient.toString()){return i}}).filter(function(v){ if(v != null){return v; }});
    if(op.length>=0){
      var data = a[op[0]];
      modal.find('#deletedevicebutton').attr('tblrowidx', op[0]);
      var ips = $('#delete_device_form [name]');
      for (var i = 0; i < ips.length; i++) {
        ips[i].value = data[ips[i].name];
      }
    }
  });

  $('#adddevicebutton').on('click', function(e) {
    e.preventDefault();
    var device_id = $(this).attr('buttondevice_id');
    var data = $("#add_device_form").serializeArray();
    var names = data.filter(v => v.name == "users").map((v, i) => { var op = {}; op.id = Number(v.value); return op; });  
    data = data.filter(v => v.name != "users");
    data.push({name : "users", value : names}); console.log(data);
    //data.push({name: "user_id", value: {{user.id}} });
    data.push({name: "is_active", value: true});
    var data = jQFormSerializeArrToJson(data);
    console.log(data);
    var response = post_or_put_data(url_base , "POST", data);
    response = JSON.parse(response.responseText);
    if (response.hasOwnProperty("id")) {
      devices_table = $('#devicesdt').DataTable();
      devices_table.row.add(response).draw();
    } else {
      console.log(response.responseJSON);
      toastr['warning']("Internal error! Try again or contact admin!");
    }
    $('#adddevicemodal').modal('hide');
  });

</script>
{% endblock %}
