{% from "_formhelpers.html" import render_field %}
{% extends 'fclayout.html' %}
{% block formcontent %}
    <style> .daterange { width: 205px !important; } </style>
    <style> .daterange2 { width: 205px !important; } </style>

<form class="form-inline" method="post" action="{{url_for(thisurl)}}">
  {{form.hidden_tag()}}
  {{ render_field(form.metric, "form-control")}}
  {{ render_field(form.site_ids, "form-control multi-select", {"data-plugin" : "multiselect", "data-selectable-optgroup" : "true"})}}
  {{ render_field(form.aggregate_unit, "form-control")}}
  {{ render_field(form.date_range, "form-control", {"id" : "firstreportrange" }) }}
  {{ render_field(form.date_range2, "form-control", {"id" : "secondreportrange" }) }}
  <button type="submit" class = "btn btn-success" >Get Chart</button>
</form>
{% endblock %}
